<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>multilineComment</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>XCSourceEditorCommandDefinitions</key>
			<array>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SelectedLines</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).SelectedLines</string>
					<key>XCSourceEditorCommandName</key>
					<string>Comment Selected Lines</string>
				</dict>
                <dict>
                    <key>XCSourceEditorCommandClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).SelectedRange</string>
                    <key>XCSourceEditorCommandIdentifier</key>
                    <string>$(PRODUCT_BUNDLE_IDENTIFIER).SelectedRange</string>
                    <key>XCSourceEditorCommandName</key>
                    <string>Comment Selected Range</string>
                </dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SelectedLinesTrimming</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).SelectedLinesTrimming</string>
					<key>XCSourceEditorCommandName</key>
					<string>Comment Selected Lines With Trimming</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).AllLines</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).AllLines</string>
					<key>XCSourceEditorCommandName</key>
					<string>Comment All Lines</string>
				</dict>
                <dict>
                    <key>XCSourceEditorCommandClassName</key>
                    <string>$(PRODUCT_MODULE_NAME).SelectedLinesCommentInNewLine</string>
                    <key>XCSourceEditorCommandIdentifier</key>
                    <string>$(PRODUCT_BUNDLE_IDENTIFIER).SelectedLinesCommentInNewLine</string>
                    <key>XCSourceEditorCommandName</key>
                    <string>Comment Selected Lines with sign in New Lines</string>
                </dict>
                <dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).DecommentLines</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).DecommentLines</string>
					<key>XCSourceEditorCommandName</key>
					<string>De Comment Selected Lines</string>
				</dict>
			</array>
			<key>XCSourceEditorExtensionPrincipalClass</key>
			<string>$(PRODUCT_MODULE_NAME).SourceEditorExtension</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.dt.Xcode.extension.source-editor</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Andrew Vanyurin. All rights reserved.</string>
</dict>
</plist>
